*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    height: 6.25rem; /*100px*/
    background-color: rgb(247, 148, 29);
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-links-holder{
    display: flex;
    align-items: center;
    width: 60rem; /*960px*/
}

.logo{
    margin: auto auto auto 1.5rem;
}

.logo img{
    height: 80px;
}

.header-links{
    display: flex;
    align-items: center;
    margin: auto 1rem auto auto;
}

.header-links .fa-bars{
    display: none;
    font-size: 2rem;
}

.header-links ul{
    display: flex;
    list-style: none;
}

.header-links li{
    margin: auto 1.8rem auto 0; 
}

.header-links li h3{
    font-size: 18pt;
    font-weight: bold;
    color: rgb(190, 30, 45);
}

.masthead{
    height: 37.5rem; /*600px*/
    background-image: url("./img/pexels-eberhard-grossgasteiger-2088203.jpg"); /*todo move up*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name{
    font-size: 16pt;
    color: rgb(247, 148, 29);
}

.company-info{
    height: 25rem; /*400px*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-holder{
    width: 400px;
    padding: 1rem;
}

.text-holder h3{
    font-size: 20pt;
}

.products{
    height: 37.5rem; /*600px*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f1f1f1; */
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.product{
    background-color: coral;
    width: 400px;
    height: 400px;
    margin: 1rem;
}

/* .product img{
} */

.pro1{
    background-image: url('./img/jp1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pro2{
    background-image: url('./img/jp2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 148, 29);
}

.soc-media i{
    text-decoration-style: none;
    font-size: 2.5rem;
    padding: 1.4rem;
    color: rgb(190, 30, 45);
}


@media only screen and (max-width:884px){

    .products{
        flex-direction: column;
        height: 1100px;
    }
}

@media only screen and (max-width:460px){
    .header-links ul{
        display: none;
    }

    .header-links .fa-bars{
        display: initial;
        text-decoration: none;
        font-size: 2rem;
    }

    .product{
        height: 320px;
        width: 320px;
    }

    .products{
        height: 800px;
    }
}